[submodule "src/ui/web"]
	path = src/ui/web
	url = https://github.com/canvas-ai/canvas-web.git
	branch = main
[submodule "src/services/synapsd"]
	path = src/services/synapsd
	url = https://github.com/canvas-ai/canvas-synapsd.git
	branch = main
[submodule "src/services/neurald"]
	path = src/services/neurald
	url = https://github.com/canvas-ai/canvas-neurald.git
[submodule "src/services/stored"]
	path = src/services/stored
	url = https://github.com/canvas-ai/canvas-stored.git
