[submodule "src/ui/web"]
	path = src/ui/web
	url = https://github.com/canvas-ai/canvas-web.git
	branch = main
[submodule "src/services/synapsd"]
	path = src/services/synapsd
	url = https://github.com/canvas-ai/canvas-synapsd.git
	branch = main
